
<div class="booking-offer-flex">

<div class="new-booking-form">
<%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :start_date, as: :date, start_year: Date.today.year,
                              end_date: Date.today.year + 1,
                              order: [:day, :month, :year] %>
  <%= f.submit wrapper_html: { class: 'submit' } %>
<% end %>
</div>


<div class="offer-container">
<div class="offer-img-container">
<%= cl_image_tag (@offer.photo.key).to_s, height: 500, width: 500, crop: :fill %>
</div>
<div class="offer-text-container">
<h2 class="offer-text"><%= @offer.title %></h2>
<div class="flex-card-booking">
<p>Price</p>
 <p class="offer-card-text">$<%= @offer.price%></p>
</div>
<p class= "offer-line-break">________________________________________________</p>
<div class="flex-card-booking">
<p>Size</p>
 <p class="offer-card-text"><%= @offer.size%></p>
</div>
<p class="offer-line-break">________________________________________________</p>
<p class="offer-text-description"><%= @offer.description %></p>
</div>
</div>



</div>
