
<p><%= link_to "Bookings", bookings_path %></p>




<div class="card-booking">
    <div class="offer-user-div-content">
      <div class="offer-avatar-image">
        <%= link_to user_path(@booking.user)do %>
        <%= cl_image_tag (@booking.offer.user.photo.key).to_s, height: 50, width:  50, crop: :fill, :radius => "max", :gravity => "face" %>
        <% end %>
      </div>
    <div class="offer-user-text">
      <p class="offer-user-text-p"><%= @booking.offer.user.username %></p>
      <p><%= @booking.offer.user.city %></p>
    </div>
  </div>
<div class="card-img">
<%= cl_image_tag (@booking.offer.photo.key).to_s, height: 300, width: 400, crop: :fill %>
</div>
<div class="card-text-booking">
<p><%= @booking.offer.title %></p>
<div class="flex-card-booking">
<p>Price</p>
 <p class="index-card-text">$<%= @booking.offer.price%></p>
</div>
<div class="flex-card-booking">
<p>Size</p>
 <p class="index-card-text"><%= @booking.offer.size%></p>
</div>
<div class="flex-card-booking">
<p>Start Date</p>
 <p class="index-card-text"><%= @booking.start_date%></p>
</div>
<div class="flex-card-booking">
<p>End Date</p>
 <p class="index-card-text"><%= @booking.end_date%></p>
</div>
<div class="flex-card-booking">
<p>Total Amount</p>
 <p class="index-card-text">$<%= @booking.price_total%></p>
</div>
</div>
</div>
