

<div class="header">
<% if user_signed_in? %>
<div class="left-section">
<%= link_to "OutFitHub", root_path, class: "navbar-link"%>
</div>
<div class="middle-section">
 <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control me-2",
    placeholder: "Search by design, style, color..."
  %>
   <%= submit_tag "Search", class: "search-button" %>
   <% end %>
</div>
<div class="right-section">
<%= link_to "Browse", offers_path, class: "navbar-link" %>
<%= link_to "List", new_offer_path(@offer), class: "navbar-link" %>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-link" %>
<%= link_to bookings_path do %>
<%= image_tag "https://avatars.githubusercontent.com/u/22602935?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown" %>
<% end %>
<% else %>
<%= link_to "Login", new_user_session_path %>
<% end %>
</div>
</div>
