<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/djbdn9bdv/image/upload/v1678141077/Outfit-Hub/photo-1626781309887-cdfb9f258c64_qzoopp.jpg;">
  <div class="container">
    <h1> Renting <strong>fashion</strong> for a more sustainable planet!</h1>
    <p>Rent your favourite styles, explore new ways to shop and
    make a positive impact on the planet!
    </p>
    <%= link_to offers_path do %>
    <button class="banner-button">Explore New Items</button>
    <% end %>
  </div>
</div>



<div class="cards-2">
<% @offers.sample(4).each do |offer| %>
<div class="card-container">
<div class="card-img">
<%= link_to offer_path(offer) do %>
<%= cl_image_tag (offer.photo.key).to_s, height: 250, width: 300, crop: :fill %>
<% end %>
</div>
<div class="card-text">
 <p class="index-card-text">$<%= offer.price%></p>
 <p class="index-card-text-2"><%= offer.size%></p>
</div>
</div>
 <% end %>
</div>
