<h1>Edit an Offer</h1>

<%= @offer do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :price %>
<%= f.text_field :price %>

<%= f.label :size %>
<%= f.select :size, ['S', 'M', 'L', 'XL', 'XLL'] %>

<%= f.submit %>
<% end %>
