<h1> Rent The Fit! </h1>

<div class="search-bar">
  <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control me-2",
    placeholder: "Find a OutFit"
  %>
  <%= submit_tag "Search", class: "fa-light fa-magnifying-glass" %>
<% end %>
</div>

<div class="cards">
<% @offers.each do |offer| %>
<div class="card">
<div class="card-img">
<%= link_to offer_path(offer) do %>
<%= cl_image_tag (offer.photo.key).to_s, height: 250, width: 300, crop: :fill, :effect=>"improve" %>
<% end %>
</div>
<div class="card-text">
 <p class="index-card-text">$<%= offer.price%></p>
 <p><%= offer.size%></p>
</div>
</div>
 <% end %>
</div>
