<h1>Create a new Offer</h1>

<%= simple_form_for @offer do |f| %>
  <%= f.input :title%>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.select :size, options_for_select(["Select Size", "S", "M", "L", "XL", "XLL"],:disabled => ["Select Size"]) %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
