
<div class="new-offer-div-container">
<h4 class="new-offer-title">List an item</h4>
<%= simple_form_for @offer do |f| %>
  <%= f.input :title%>
   <%= f.input :photo, as: :file %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :size %>
  <%= f.input :category %>
  <%= f.submit "Post"%>
<% end %>
</div>
