
<div class="offer-container">
<div class="offer-img-container">
<%= cl_image_tag (@offer.photo.key).to_s, height: 500, width: 500, crop: :fill %>
</div>
<div class="offer-text-container">
<h2 class="offer-text"><%= @offer.title %></h2>
<p class="offer-text">Price &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp $<%= @offer.price %> </p>
<p>________________________________________________</p>
<p class="offer-text">Size &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<%= @offer.size %></p>
<p>________________________________________________</p>
<p class="offer-text-description"><%= @offer.description %></p>
</div>
<div class="offer-buttons-container">
<div>
<button class="add-button-1"> Rent </button>
</div>
<div>
<button class="add-button-2"> Add to cart </button>
</div>
</div>
</div>


<%= link_to "Edit", edit_offer_path(@offer) %>
